name: CLIq Backend
services:
  db:
    image: postgres:18.1-alpine3.22
    init: true
    environment:
      TZ: ${TZ}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} || exit 1'" ]
      interval: 10s
      timeout: 3s
      retries: 3

  mailpit:
    image: axllent/mailpit:latest
    init: true
    ports:
      - '127.0.0.1:1025:1025'
      - '127.0.0.1:8025:8025'
    environment:
      TZ: ${TZ}
    volumes:
      - mailpit-data:/data
    healthcheck:
      test: [ "CMD", "wget", "-q", "--spider", "http://localhost:8025/readyz" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres-data: ~
  mailpit-data: ~
