name: Docs Checks
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'

# Sets a default working directory
defaults:
  run:
    working-directory: ./docs  # Change the working directory to /docs

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Copy compose override
        run: cp compose.override.dist.yaml compose.override.yaml

      - name: Install Docusaurus
        run: bash dev/install

      - name: Build Docusaurus
        env:
          NODE_ENV: production
        run: bash dev/yarn build
